<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    
    <appender name="GALLERY" class="ch.qos.logback.core.FileAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <file>${catalina.base}/logs/gallery.log</file>
    </appender>

  <logger name="com.github.henkexbg.gallery.controller" level="info" />
  <logger name="com.github.henkexbg.gallery.service" level="info"/>

  <root level="info">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="GALLERY" />
  </root>
</configuration>