body {
    overflow-x: hidden; //
    background-color: #3c3c3c;
}

//
.carousel .carousel-control {
    visibility: hidden;
}

.carousel-indicators {
    visibility: hidden;
}

.uib-tab {
    font-weight: bold;
}