<beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:security="http://www.springframework.org/schema/security" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-4.2.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security-4.0.xsd">

    <security:http auto-config="true" use-expressions="false" realm="Gallery">
        <security:http-basic />
        <security:intercept-url pattern="/**" access="ROLE_USER" />
        <security:headers>
            <security:cache-control disabled="true" />
        </security:headers>
    </security:http>

    <security:authentication-manager>
        <security:authentication-provider>
            <security:user-service properties="${gallery.users.propertiesFile}">
            </security:user-service>
        </security:authentication-provider>
    </security:authentication-manager>

</beans>